{% extends 'account_base.html' %}
{% load bootstrap4 %}

{% block title %}
    Login
{% endblock title %}


{% block content %}
<section>
  <div id="page-wrapper" class="sign-in-wrapper">
  <!---728x90--->

    <div class="graphs">
      <div class="sign-in-form">
        <div class="sign-in-form-top">
          <h1>Password_change</h1>
        </div>
        <div class="signin">
            <form action="" method="post" class="form">
              {% csrf_token %}
              {% bootstrap_form form %}
              {% buttons %}
                  <input type="submit" value="Change Password">
              {% endbuttons %}
            </form>
        </div>
      </div>
    </div>
    <!---728x90--->

  </div>
<!--footer section start-->
  <footer class="diff">
      <p class="text-center">&copy 2016 Resale. All Rights Reserved | Design by Danishyar</p>
  </footer>
    <!--footer section end-->
</section>
{% endblock content %}
