{% extends 'base.html' %}
{% load static %}

{% block title %}
	Product detail
{% endblock title %}


{% block content %}
	<!--single-page-->
	<div class="single-page main-grid-border">
		<div class="container">
			<ol class="breadcrumb" style="margin-bottom: 5px;">
				<li><a href="/">Home</a></li>
				<li><a href="{% url 'market:product_list' %}">All Ads</a></li>
				<li class="active"><a href="{% url 'market:products_category' product.category.slug %}">{{product.category}}</a></li>
				<li class="active">{{product.name}}</li>
			</ol>
			<!---728x90--->

			<div class="product-desc">
				<div class="col-md-7 product-view">
					<h2>{{product.name}}</h2>
					<p> <i class="glyphicon glyphicon-map-marker"></i><a href="#">state</a>, <a href="#">{{product.city}}</a>| Added at {{product.created|timesince}} ago, Ad ID: {{product.id}}</p>
					
					<div class="flexslider">
						<ul class="slides">
							
							{% for image in images %}
								<li data-thumb="{{image.image.url}}">
									<img src="{{image.image.url}}" />
								</li>
							{% endfor %}

						</ul>
					</div>
					<!-- FlexSlider -->
					<script defer src="{% static 'js/jquery.flexslider.js' %}"></script>
					<link rel="stylesheet" href="{% static 'css/flexslider.css' %}" type="text/css" media="screen" />

						<script>
					// Can also be used with $(document).ready()
					$(window).load(function() {
					$('.flexslider').flexslider({
						animation: "slide",
						controlNav: "thumbnails"
					});
					});
					</script>
					<!-- //FlexSlider -->
					<div class="product-details">
						<h4>Brand : <a href="#">{{product.brand}}</a></h4>
						<h4>Views : <strong>{{product.view_count}}</strong></h4>
						<p><strong>Summary</strong> : {{product.description}}</p>
					
					</div>
				</div>
				<div class="col-md-5 product-details-grid">
					<div class="item-price">
						<div class="product-price">
							<p class="p-price">Price</p>
							<h3 class="rate">$ {{product.price}}</h3>
							<div class="clearfix"></div>
						</div>
						<div class="condition">
							<p class="p-price">Condition</p>
							<h4>{{product.condation}}</h4>
							<div class="clearfix"></div>
						</div>
						<div class="itemtype">
							<p class="p-price">Item Type</p>
							<h4>{{product.category}}</h4>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
			<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!---728x90--->
{% endblock content %}


